// Specific CSS for your home-page

.card-counter {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 30px;
  border-radius: 4px;
  width: 400px;
}
.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

#home {
  margin: 30px;
}
