.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.container-search-table-users {
  margin: 50px;
  background-color: white;
  padding: 20px;
}

.item-search-input-users {
 display: flex;
 position:relative;

}

.action-top1 {
  position: absolute;
  top: 135px;
  right: 260px;
}

.action-top2 {
  position: absolute;
  top: 135px;
  right: 80px;
}
.action-top3 {
  position: absolute;
  top: 135px;
  right: 190px;
}

.container-search-users {
  display: flex;
  align-items: center;
  width: 850px;
  height: 60px;
}
