<div class="container-fluid">
  <div class="row">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb breadcrumb-arrow">
          <li><a href="#">Title & Description</a></li>
          <li><a href="#">Template & Questions</a></li>
          <li class="active"><span>Choose employees</span></li>
          <li><a href="#">Summary & Send</a></li>

        </ol>
  </div>
</div>
