<ul class="steps">
  <li class="futur">
    <span>
      <strong>Step 1</strong>
      Title & Description
    </span><i></i>
  </li>
  <li class="futur">
    <span>
      <strong>Step 2</strong>
      Template & Questions
    </span><i></i>
  </li>
  <li class="message-row d-flex <%= controller == 'users' && action == 'index' && params[:survey_id] ? 'present' : 'futur' %>">
    <span>
      <strong>Step 3</strong>
      Choose employees
    </span><i></i>
  </li>
  <li class="futur">
    <span>
      <strong>Step 4</strong>
      Options
    </span><i></i>
  </li>
  <li class="futur">
    <span>
      <strong>Step 5</strong>
      Summary and Send
    </span><i></i>
  </li>
  <li class="futur">
    <span>
      <strong>Step 6</strong>
      View of Survey Result
    </span><i></i>
  </li>
</ul>
