<div class="container-fluid">
  <div class="card-title">
    <h1>Dashboard</h1>
    <div id="home"><%= link_to "New Survey", new_survey_path, class:"btn btn-primary" %></div>
  </div>
  <div class="card-counter">
      <h5><u>This Month:</u></h5>
        <ul>
        <li><%= Survey.count %> Surveys created</li>
        <li><%= User.count %> employees left</li>
        </ul>
    </div>
</div>
