<div class="board" data-controller="board">
  <div class="title">Titre</div>

  <div class="content">
    <div class="cards">
      <div class="card">Card 1</div>
      <div class="card">Card 2</div>
      <div class="card">Card 3</div>
    </div>

    <div class="graphs">
      <div class="graph">Graphique 1<canvas id="bar-chart"></canvas></div>
      <div class="graph">Graphique 2<canvas id="pie-chart"></canvas></div>
      <div class="graph">Graphique 3<canvas id="doughnut-chart"></canvas></div>
      <div class="graph">Graphique 4<canvas id="bar-chart-horizontal"></canvas></div>
    </div>
  </div>
</div>
