.navbar-lewagon {
  justify-content: space-between;
  background: #332c54;
}

.nav-link {
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.centered-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-item dropdown {
  margin: auto;
}
