.table .table-col {
  background-color: $primary ;
  color: white;
}

.container-table {
  background-color: white;
  padding: 30px;
  margin:50px;
  margin-top: 10px;
  height: 50vh;
  overflow: auto;
}
